CacheControl==0.12.6
certifi==2022.12.7
chardet==3.0.4
discord-webhook==0.13.0
et-xmlfile==1.0.1
futures==3.2.0
idna==2.8
jdcal==1.3
msgpack==1.0.0
numpy==1.16.6
oauthlib==3.1.0
openpyxl==2.5.12
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pymssql==2.1.4
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.1
redis==3.5.1
requests==2.22.0
requests-cache==0.5.0
requests-futures==1.0.0
requests-oauthlib==1.3.0
six==1.14.0
SQLAlchemy==1.3.8
tqdm==4.32.2
urllib3==1.25.3
